__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.venv
venv/
ENV/
env/
.DS_Store
.vscode/
*.log
*.pem
*.pub
terraform.tfstate*
.terraform/
*.tfvars
!terraform/terraform.tfvars.example
ansible/*.retry
models/
dataset.csv
VML(2).ipynb
devops.zip
prometheus
docker-compose.yml
nginx.conf
